/* :root {
  --main-font: 'Roboto', sans-serif;
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --light-color: #ffffff;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --background-button-color: #f5f4fa;
  --fill-icon: #afb1b8;
  --main-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
} */

/* body {
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-family: var(--main-font);
  font-size: 14px;
} */
/* 
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .list {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* .section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* Стилизация хедера */

/* .header {
  border-bottom: solid 1px #ececec;
}

.header__container {
  display: flex;
  align-items: center;
} */

/* Стилизация логотипа */

/* .logo-main {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.17;
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: #ffffff;
} */

/* Стилизация навигации */

/* .nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 50px;
  margin-left: 70px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--main-font-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color var(--main-anim);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.nav__link--current::after {
  position: absolute;
  right: -4%;
  bottom: -1px;
  display: block;
  content: '';
  width: 108%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
} */

/* Стилизация контактов хедера */

/* .contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contacts__link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--secondary-font-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--main-anim);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
} */

/* Стилизация main */

/* Герой */

/* .hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  border: 1px solid #000000;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/hero-bg.jpg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--secondary-background-color);
  text-align: center;
}

.hero__container {
  width: 696px;
  margin: 0 auto;
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;
  color: var(--light-color);
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  width: 696px;
} */

/* Стилизация кнопки */

/* .button {
  background-color: var(--accent-color);
  color: var(--light-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color var(--main-anim);
}

.button:focus,
.button:hover {
  background-color: #188ce8;
} */

/* Стилизация приимуществ */

/* .advantages {
  padding-bottom: 0;
}

.advantage__list {
  display: flex;
  gap: 30px;
}

.advantage__item {
  flex-basis: 100%;
}

.advantage__countainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background: var(--background-button-color);
  border-radius: 4px;
}

.advantage__description {
  margin-bottom: 10px;

  color: var(--main-font-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage__text {
  color: var(--secondary-font-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
} */

/* Чем мы занимаемся */

/* .employments {
  display: flex;
  gap: 30px;
}

.employments__item {
  position: relative;
}

.employments__text {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  bottom: 0;
  height: 74px;
  width: 100%;

  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-color);
  background-color: rgba(47, 48, 58, 0.8);
} */

/* Наша команда */

/* .team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  text-align: center;
  gap: 30px;
}

.team__item {
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__position {
  margin-bottom: 16px;
  color: var(--secondary-font-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
} */

/* Стилизация соц. сетей */

/* .socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--main-anim);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  fill: var(--fill-icon);

  transition: fill var(--main-anim);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--main-background-color);
} */

/* Постоянные клиенты */

/* .clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--fill-icon);
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  transition: border var(--main-anim);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: var(--fill-icon);

  transition: fill var(--main-anim);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
} */

/* Стилизация футера */

/* .footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer__subtitle {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
} */

/* Стилизация address */

/* .address {
  margin-top: 20px;
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  transition: color var(--main-anim);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.address__link--white {
  color: var(--light-color);
} */

/* Стиилизация соц.сетей футера */

/* .socials__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__icon--white {
  fill: var(--light-color);
} */

/* Оформление формы футера */

/* .follow-form {
  margin-left: auto;
}

.follow-form__countainer {
  display: flex;
  gap: 12px;
}

.follow-form__label input {
  margin: 0;
  padding: 15px 16px 15px 16px;
  width: 358px;

  color: var(--light-color);
  font-size: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.follow-form__label input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.follow-form__btn {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}

.follow-form__btn-icon {
  fill: currentColor;
} */

/* Стилизация portfolio.html */

/* Стилизация кнопок */

/* .filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__item {
  margin-left: 9px;
}

.filter__item:first-child {
  margin-left: 0;
}

.filter__button {
  background-color: var(--background-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;

  transition: background-color var(--main-anim), color var(--main-anim), box-shadow var(--main-anim);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* Стилизация примеров продуктов */

/* .examples {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}

.examples__item {
  margin-top: 30px;
  margin-left: 30px;

  transition: box-shadow var(--main-anim);
}

.examples__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__link {
  text-decoration: none;
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--main-anim);
}

.examples__link:hover .examples__overlay,
.examples__link:focus .examples__overlay {
  transform: translateY(0);
}

.examples__overlay-desc {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: var(--light-color);
}

.examples__container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.examples__title {
  margin-bottom: 4px;

  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples__description {
  color: var(--secondary-font-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
} */

/* Модальное окно */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--main-anim), visibility var(--main-anim);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  width: 528px;

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity var(--main-anim), transform var(--main-anim);
}

.modal__btn {
  position: absolute;
  top: 9px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-background-color);
  cursor: pointer;
}

.modal__btn-icon {
  transition: fill var(--main-anim);
}

.modal__btn:focus .modal__btn-icon,
.modal__btn:hover .modal__btn-icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: translate(-50%, -150%);
  opacity: 0;
} */

/* Стилизация формы модального окна */

/* .modal-form__title {
  display: block;

  margin-bottom: 30px;

  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__group {
  margin-bottom: 20px;
}

.modal-form__field {
  position: relative;

  display: block;
  margin-bottom: 10px;
}

.modal-form__field:last-child {
  margin-bottom: 0;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.modal__btn-submit {
  display: flex;
  margin: 0 auto;
  padding-left: 52px;
  padding-right: 52px;
}

.modal-form__label {
  display: block;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-font-color);
}

.modal-form__input {
  padding: 12px 42px;
  margin: 0;

  width: 100%;
  height: 40px;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--main-anim);

  cursor: pointer;
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;

  transition: fill var(--main-anim);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  resize: none;

  padding: 12px 16px;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--main-anim);

  cursor: pointer;
}

.modal-form__textarea:focus {
  border-color: var(--accent-color);
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__label {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  user-select: none;
}

.checkbox__link {
  color: #2196f3;
}

.checkbox__icon-checked {
  opacity: 0;

  transition: opacity var(--main-anim);
}

.checkbox__icon-unchecked {
  opacity: 1;

  transition: opacity var(--main-anim);
}

.checkbox__input:checked + .checkbox__icon .checkbox__icon-checked {
  opacity: 1;
}

.checkbox__input:checked + .checkbox__icon .checkbox__icon-unchecked {
  opacity: 0;
}  */