.address {
    margin-top: 20px;

    &__list{
        @extend %list;
    }
}

.address__item {
    margin-bottom: 9px;

    &:last-child {
        margin-bottom: 0;
    }
}

.address__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    transition: color var(--main-anim);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &--white {
        color: var(--light-color);
    }
}