.contacts {
  @extend %list;

  display: flex;
  gap: 50px;
  margin-left: auto;

  &__icon {
    fill: currentColor;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
  }
}

.contacts__link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--secondary-font-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--main-anim);

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    padding: 0;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
