.examples {
    @extend %list;
    
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: -30px;
}

.examples__item {
    margin-top: 30px;
    margin-left: 30px;

    transition: box-shadow var(--main-anim);

    &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.examples__link {
    text-decoration: none;
}

.examples__thumb {
    position: relative;
    overflow: hidden;
}

.examples__overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;

    background-color: rgba(33, 150, 243, 0.9);

    transition: transform var(--main-anim);

    .examples__link:hover &,
    .examples__link:focus & {
        transform: translateY(0);
    }
}

.examples__overlay-desc {
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;

    color: var(--light-color);
}

.examples__container {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.examples__title {
    margin-bottom: 4px;

    color: var(--main-font-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples__description {
    color: var(--secondary-font-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}