.modal-form__title {
  display: block;

  margin-bottom: 30px;

  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__group {
  margin-bottom: 20px;
}

.modal-form__field {
  position: relative;

  display: block;
  margin-bottom: 10px;
}

.modal-form__field:last-child {
  margin-bottom: 0;
}

.modal__btn-submit {
  display: flex;
  margin: 0 auto;
  padding-left: 52px;
  padding-right: 52px;
}

.modal-form__label {
  display: block;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-font-color);
}

.modal-form__input {
  padding: 12px 42px;
  margin: 0;

  width: 100%;
  height: 40px;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--main-anim);

  cursor: pointer;
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;

  transition: fill var(--main-anim);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  resize: none;

  padding: 12px 16px;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--main-anim);

  cursor: pointer;
}

.modal-form__textarea:focus {
  border-color: var(--accent-color);
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  &__label {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
    user-select: none;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: calc(24 / 14);
    }
  }

  &__link {
    color: #2196f3;
  }
}

.checkbox__icon-checked {
  opacity: 0;

  transition: opacity var(--main-anim);
}

.checkbox__icon-unchecked {
  opacity: 1;

  transition: opacity var(--main-anim);
}

.checkbox__input:checked + .checkbox__icon .checkbox__icon-checked {
  opacity: 1;
}

.checkbox__input:checked + .checkbox__icon .checkbox__icon-unchecked {
  opacity: 0;
}
