.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--main-anim), visibility var(--main-anim);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  width: 450px;

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity var(--main-anim), transform var(--main-anim);

  @media screen and (max-width: 440px) {
    width: 100%;
    padding: 40px 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  @media (orientation: landscape) and (max-height: 617px) {
    height: 100%;
    overflow: auto;
  }
}

.modal__btn {
  position: absolute;
  top: 9px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-background-color);
  cursor: pointer;
}

.modal__btn-icon {
  transition: fill var(--main-anim);

  .modal__btn:focus &,
  .modal__btn:hover & {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: translate(-50%, -150%);
  opacity: 0;
}
