.nav {
  display: flex;
  align-items: center;

  &__list {
    @extend %list;

    display: flex;
    gap: 50px;
    margin-left: 70px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--main-font-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color var(--main-anim);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--current {
    position: relative;
    color: var(--accent-color);
  }

  &--current::after {
    position: absolute;
    right: -4%;
    bottom: -1px;
    display: block;
    content: '';
    width: 108%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
